.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeb218;
    padding: 0px;
    background-image: url("../../assets/nav_bg.png");
    background-size: cover; 
    background-repeat: repeat; 
    background-position:top;
    width: 100%;
}
.logo img {
    width: 100px;
    height: 100px;
    padding: 0px 0px 0px 20px;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    margin: 0px;
    color: #12b1e6;
    font-family: 'McLaren';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1px);
}


nav{
    width:450px;
    margin: 0px 20px;
}

nav>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav>ul li{
    position: relative;
}

nav>ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.45rem;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.7);
    transition: ease-in 100ms;
}
nav>ul li :hover{
    color:#ffea9e;
    font-size: 1.48rem;
}
.profile{
    height: 30px;
    width: 30px;
}



.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 60%;
}
.search-form {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    width: 60%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);
}
  
.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
}
  
.search-input::placeholder {
    color: #aaa;
}
  
.search-button {
    background-color: #12b1e6; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.search-button:hover {
    background-color: #0056b3; 
}


@media (max-width: 768px){
    .search-container{
        margin: 10px;
        margin-bottom: 0px;
        width: calc(100% - 20px);
    }
    .search-form{
        width: 90%;
    }
}